.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
  width: 90%;
  margin: auto;
  background: rgb(253, 253, 253);
  box-shadow: 1px 1px 6px rgb(29, 174, 218);
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}