@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Jost", sans-serif;
}
html{
    scroll-behavior: smooth;
}


/* Image - Section */

.image-section{
    display: flex;
    justify-content: center;
}

.container{
    font-size: 1.2rem;
    background-color: #f2f2f2;
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    
}
.upper-container{
    text-align: center;
    background-color: #72f01e86;
    border: 1px solid #72f01e86;
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.lower-container{
    padding: 5px 20px 10px 20px;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea , select{
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 6px;
    margin-top: 5px;
    padding: 6px;
}
input[type="submit"]{
    background-color: #4caf84;
    color: white;
    padding: 10px 20px;
    border: 2px solid #4caf84;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    font-size: 1.2rem;
}
button::hover{
    cursor: pointer;
    background-color: #4cbd8c;
    border: 2px solid #4cbd8c;
    border-radius: 5px;
}