.container{
    display: flex;
    min-height: 80vh;
    padding: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.left{
    min-width: 250px;
    padding: 1rem;
}
.services{
    margin-top: 0.8rem;
    max-width: 250px;
}
.services_list{
    display: flex;
    flex-wrap: wrap;
}
.list_item{
    list-style: none;
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #868484;
}
.profile_img img{
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.logout{
    margin-top: 2rem;
}
.right{
    padding: 1rem;
}
.right h4{
    font-size: 1.6rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.name h3{
    font-size: 2rem;
}
.name p{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: var(--primary);
    font-weight: 600;
}
.name h4{
    margin-top: 1rem;
    font-size: 1.4rem;
}
.name span{
    font-size: 2rem;
    color: blue;
}
.name span:nth-child(5){
    color: #868484;
}

.about {
    margin-top: 0.8rem;
}

.about_list{
    display: flex;
    margin-bottom: 0.8rem;
    align-items: center;
}

.about_list h3{
    min-width: 150px;
}
.about_list p{
    font-size: 1.2rem;
    font-weight: 600;
}

.contact_btn{
    display: flex;
    gap: 1rem;
}
.working_list{
    width: 48%;
    padding: 0.2rem;
    border: 1px solid rgb(0, 0, 0);
}
.working_list h2{
    text-align: center;
    padding: 1rem;
}
.working_list_item{
    display: grid;
    grid-template-columns: 15px repeat(5, auto);
    padding: 0.4rem;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 1rem;
}
.working_list_item h3{
    padding: 0.4rem;
    text-align: center;
}
.pending{
    background-color: rgb(235, 135, 5);
    border-radius: 20px;
}
.complete{
    background-color: green;
    border-radius: 20px;
}