.container{
    min-height: 90vh;
    background-color: rgb(241, 241, 241);
}
.search{
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.heading{
    margin-right: auto;
    padding: 0.4rem;
    color: var(--primary);
}
.top_workers{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 1rem;
}
.top_more
{
    padding: 1rem;
}
.search_box{
    position: relative;
    max-height: 50px;
}

